/*
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
*/
.local-coursetranslator__form .row.border-bottom:last-child {
  /* stylelint-disable-next-line */
  border-bottom: 0 !important;
}

/* responsive iframes */
.local-coursetranslator__source-text iframe {
  max-width: 100%;
}

.local-coursetranslator__translation {
  /* responsive iframes */
  iframe {
    max-width: 100%;
  }

  /* editor tweaks */
  [data-action="local-coursetranslator/editor"],
  [data-fieldtype="editor"] {
    width: 100%;
  }

  textarea[data-action="local-coursetranslator/editor"] {
    width: 100%;
    min-height: 300px;
  }

  .form-group.row {
    margin-left: 0;
    margin-right: 0;
  }
}

/* ui notices */
.local-coursetranslator__error {
  background: #facbcb;
}

.local-coursetranslator__success {
  background: #e3fadc;
}

[data-status="local-coursetranslator/success-message"] {
  background: #b4fa9f;
  font-size: 0.6rem;
  text-transform: uppercase;
  padding: 0.25rem 1rem;
  position: absolute;
  bottom: 9px;
  right: 9px;
  border-radius: 4px;
}

#page-local-coursetranslator-translate {
  /* page setting menu */
  a[aria-expanded=true] .fa-caret-right {
    display: none;
  }

  a[aria-expanded=false] .fa-caret-down {
    display: none;
  }

  /* content */
  #collapseExample {
    /* border: gray 1px solid;*/
    background-color: #EAF3FCFF;
  }
}
