{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}{{!
  @template local_coursetranslator/translate_page

  Provides translation form header and controls
{#@todo correct doc with data attributes#}
  Classes required for JS:
  * local-coursetranslator__localeswitcher
  * local-coursetranslator__select-all
  * local-coursetranslator__show-updated
  * local-coursetranslator__show-needsupdate
  * local-coursetranslator__autotranslate-btn

  Data attributes required for JS:
  * none

  Context variables required for this template:
  * lang
  * langs
  * wordcount
  * charcount
  * charcountspaces

  Example context (json):
  {
    "lang": "en",
    "langs": [
      {
        "code": "other",
        "lang": "Other (other)"
      },
      {
        "code": "en",
        "lang": "English (en)"
      }
    ],
    "wordcount": 4,
    "charcount": 20,
    "charcountspaces": 25
  }
}}
<!--label for="translation-context"
>Context</label
>
<textarea id="translation-context" width="800px" /-->
<div class="px-3 align-items-end">
  <a class="link link-underline px-3" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    {{#str}}t_seeSetting,local_coursetranslator{{/str}} <i class="fa fa-caret-right"></i><i class="fa fa-caret-down"></i>
</a>
</div>

<div class="container-fluid collapse card bg-primary-light" id="collapseExample">

    <div class="row py-3  card-body">


        <div class="col">
            {{#str}}t_formality,local_coursetranslator{{/str}}
            <div class="custom-control custom-radio">
                <input type="radio" value="default" checked="true" id="formality1" name="local-coursetranslator/formality" class="custom-control-input" >
                <label class="custom-control-label" for="formality1">{{#str}}t_formality_default,local_coursetranslator{{/str}}</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" value="less" id="formality2" name="local-coursetranslator/formality" class="custom-control-input" >
                <label class="custom-control-label" for="formality2">{{#str}}t_formality_less,local_coursetranslator{{/str}}</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" value="more" id="formality3" name="local-coursetranslator/formality" class="custom-control-input" >
                <label class="custom-control-label" for="formality3">{{#str}}t_formality_more,local_coursetranslator{{/str}}</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" value="prefer_less" id="formality4" name="local-coursetranslator/formality" class="custom-control-input" >
                <label class="custom-control-label" for="formality4">{{#str}}t_formality_prefer_less,local_coursetranslator{{/str}}</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" value="prefer_more" id="formality5" name="local-coursetranslator/formality" class="custom-control-input" >
                <label class="custom-control-label" for="formality5">{{#str}}t_formality_prefer_more,local_coursetranslator{{/str}}</label>
            </div>

        </div>
        <div class="col" data-id="local_coursetranslator/moresettings">
            <a href="https://www.deepl.com/docs-api/translate-text/translate-text">{{#str}}t_deeplapidoc,local_coursetranslator{{/str}}</a>


                <div class="row  py-1">
                    <div class="col">
                        <div class="d-flex my-switch">
                            <div class="form-text text-1"> {{#str}}t_taghandling,local_coursetranslator{{/str}}XML&nbsp;</div>
                            <div class="custom-control custom-switch">
                                <input id="tag_handling" class="custom-control-input" type="checkbox" data-id="local-coursetranslator/tag_handling" checked>
                                <label class="custom-control-label" for="tag_handling">&nbsp;HTML</label></div></div></div>
                </div>
                <div class="row a py-1">
                    <div class="col">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="preserve_formatting" data-id="local-coursetranslator/preserve_formatting">
                        <label class="custom-control-label" for="preserve_formatting">{{#str}}t_preserveformatting,local_coursetranslator{{/str}}</label>
                    </div>
                    </div>
                </div>

                <div class="row  py-1">
                    <div class="col">
                        <div class="custom-control custom-switch">
                            <input id="outline_detection" class="custom-control-input" type="checkbox" data-id="local-coursetranslator/outline_detection">
                            <label class="custom-control-label" for="outline_detection">{{#str}}t_outlinedetection,local_coursetranslator{{/str}}</label>
                        </div>
                    </div>
                </div>



        </div>
        <div class="col">
            <label class="" for="glossary_id">{{#str}}t_glossaryid,local_coursetranslator{{/str}}</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="glossary_id" placeholder="{{#str}}t_glossaryid_placeholder,local_coursetranslator{{/str}}" data-id="local-coursetranslator/glossary_id"/>
            {{#str}}t_splitsentences,local_coursetranslator{{/str}}
            <div class="custom-control custom-radio">
                <input type="radio" id="split_sentences1" name="local-coursetranslator/split_sentences" class="custom-control-input" value="0">
                <label class="custom-control-label" for="split_sentences1">{{#str}}t_splitsentences_0,local_coursetranslator{{/str}}</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="split_sentences2" name="local-coursetranslator/split_sentences" class="custom-control-input" checked="true" value="1">
                <label class="custom-control-label" for="split_sentences2">{{#str}}t_splitsentences_1,local_coursetranslator{{/str}}</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="split_sentences3" name="local-coursetranslator/split_sentences" class="custom-control-input" value="nonewlines">
                <label class="custom-control-label" for="split_sentences3">{{#str}}t_splitsentences_nonewlines,local_coursetranslator{{/str}}</label>
            </div>
        </div>
    </div>
    <div class="row py-3">
        <div class="col">
            <label for="non_splitting_tags">{{#str}}t_nonsplittingtags,local_coursetranslator{{/str}}</label>
            <textarea class="form-control" id="non_splitting_tags" data-id="local-coursetranslator/non_splitting_tags"  placeholder="{{#str}}t_tagsplaceholder,local_coursetranslator{{/str}}"></textarea></div>
        <div class="col"><label for="splitting_tags">{{#str}}t_splittingtags,local_coursetranslator{{/str}}</label>
            <textarea class="form-control" id="splitting_tags" data-id="local-coursetranslator/splitting_tags"  placeholder="{{#str}}t_tagsplaceholder,local_coursetranslator{{/str}}"></textarea></div>
        <div class="col"><label for="ignore_tags">{{#str}}t_ignoretags,local_coursetranslator{{/str}}</label>
            <textarea class="form-control" id="ignore_tags" data-id="local-coursetranslator/ignore_tags"  placeholder="{{#str}}t_ignoretags,local_coursetranslator{{/str}}"></textarea></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row py-1">
        <div class="col-3 ">
            <label for="source_lang">{{#str}}t_sourceLang,local_coursetranslator{{/str}}</label>
            <select class="form-control" id="source_lang"
                    data-action="local-coursetranslator/source-switcher">
                {{#langs}}
                    <option value="{{ code }}" {{selected}} {{disabled}}>{{ lang }}</option>
                {{/langs}}
            </select>
            <label for="select-target-language">
                {{#str}}t_select_target_language,local_coursetranslator{{/str}}
            </label>
            <select
                    id="select-target-language"
                    name="select-target-language"
                    class="local-coursetranslator__localeswitcher form-control"
                    data-action="local-coursetranslator/target-switcher"
            >
                {{#target_langs}}
                    <option value="{{ code }}" {{selected}} {{disabled}}>{{ lang }}</option>
                {{/target_langs}}
            </select>
        </div>
        <div class="col-9 form-group ">
            <label for="context">{{#str}}t_contextDeepl,local_coursetranslator{{/str}}</label>
            <textarea class="form-control" id="context" data-id="local-coursetranslator/context" rows="3" placeholder="{{#str}}t_contextDeeplPlaceholder,local_coursetranslator{{/str}}"></textarea></div>
    </div>

<!--    <div class="row py-3">
        <div class="form-check form-check-inline">
            <input type="checkbox" id="show-updated"
                   checked="checked"
                   class="local-coursetranslator__show-updated"
                   data-action="local-coursetranslator/show-updated"
            />
            <label for="show-updated" class="mb-0 pl-1">{{#str}}t_uptodate,local_coursetranslator{{/str}}</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="checkbox" id="show-needsupdate" checked="checked"
                   class="local-coursetranslator__show-needsupdate"
                   data-action="local-coursetranslator/show-needsupdate"
            />
            <label for="show-needsupdate" class="mb-0 pl-1">{{#str}}t_needsupdate,local_coursetranslator{{/str}}</label>
        </div>
        <div class="col-6 px-0">
            <p class="my-0 text-center">
                {{ counts }}
            </p>
        </div>
    </div>-->
</div>

<div class="container-fluid">
    <div class="row align-items-center border-bottom py-2 bg-dark text-white">
        <div class="col-6 px-3 ">
            <div class="form-check form-check-inline">
                <input type="checkbox" id="show-updated"
                       checked="checked"
                       class="local-coursetranslator__show-updated"
                       data-action="local-coursetranslator/show-updated"
                />
                <label for="show-updated" class="mb-0 pl-1">{{#str}}t_uptodate,local_coursetranslator{{/str}}</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" id="show-needsupdate" checked="checked"
                       class="local-coursetranslator__show-needsupdate"
                       data-action="local-coursetranslator/show-needsupdate"
                />
                <label for="show-needsupdate" class="mb-0 pl-1">{{#str}}t_needsupdate,local_coursetranslator{{/str}}</label>
            </div>
        </div>
        <div class="col-6 px-0">
            <p class="my-0 text-center">
                {{! counts }}
                {{#str}} t_word_count_sentence,
                    local_coursetranslator,
                    { "wordcount": {{#quote}}{{ wordcount }}{{/quote}}, "charcount": {{#quote}}{{ charcount }}{{/quote}},"charcountspaces":{{#quote}}{{ charcountspaces }}{{/quote}} } {{/str}}
            </p>
        </div>
    </div>
    <div class="row align-items-center border-bottom py-2 bg-dark text-white">
        <div class="col-1">
            <div class="form-check">
                <input
                        class="form-check-input local-coursetranslator__select-all"
                        data-action="local-coursetranslator/select-all"
                        type="checkbox"
                        aria-label="{{#str}}t_selectall,local_coursetranslator{{/str}}"
                        title="{{#str}}t_selectall,local_coursetranslator{{/str}}"
                        name="select-all"
                        id="select-all"
                        disabled
                />
                <label class="form-check-label text-white" for="select-all">
                    {{#str}}t_status,local_coursetranslator{{/str}}
                </label>
            </div>
        </div>
        <div class="col-5 px-0 pr-5">
            {{#str}}t_source_text,local_coursetranslator, {{ current_lang }} {{/str}}
        </div>
        <div class="col-1 px-0">
            <div class="text-left">
                <button
                        type="button"
                        class="btn btn-primary btn-sm local-coursetranslator__autotranslate-btn"
                        data-action="local-coursetranslator/autotranslate-btn"
                        disabled
                >
                    {{#str}}t_autotranslate,local_coursetranslator{{/str}}
                </button>
            </div>
        </div>
        <div class="col-5 px-0">
            {{#str}}t_translation,local_coursetranslator, {{ target_lang }} {{/str}}

        </div>


    </div>
</div>

{{{mform}}}
